<br />
<br />
<div>angular material</div>
<br /><br />
<table mat-table [dataSource]="companies" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>companyCode</th>
    <td mat-cell *matCellDef="let element">{{ element.companyCode }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>companyName</th>
    <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>companyCEO</th>
    <td mat-cell *matCellDef="let element">{{ element.companyCEO }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>companyTurnover</th>
    <td mat-cell *matCellDef="let element">{{ element.companyTurnover }}</td>
  </ng-container>
  <ng-container matColumnDef="companyWebsite">
    <th mat-header-cell *matHeaderCellDef>companyWebsite</th>
    <td mat-cell *matCellDef="let element">{{ element.companyWebsite }}</td>
  </ng-container>
  <ng-container matColumnDef="stockExchangeName">
    <th mat-header-cell *matHeaderCellDef>stockExchangeName</th>
    <td mat-cell *matCellDef="let element">{{ element.stockExchangeName }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
