<!-- <p>company works!</p> -->
<h1>The company portfolio</h1>

<div>
  <span>Create Company</span>
  <button class="btnn" (click)="createoneCompany()">Click here</button>
  <div class="search-container">
    <input
      [(ngModel)]="search"
      type="text"
      name="search"
      required="required"
      placeholder="search company"
      class="searchbar"
    />
    <button class="btnn" (click)="searchCompany()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<br />
<!-- <div *ngIf="message">{{ message }}</div> -->
<div class="container">
  <table class="table-light table-hover" border="1">
    <thead>
      <tr class="table-primary">
        <th>comapny Code</th>
        <th>company Name</th>
        <th>company CEO</th>
        <th>Turnover</th>
        <th>Website</th>
        <th>Stock Exchange Name</th>
        <!-- <th> -->
        <!-- <tr> -->
        <!-- <th>id</th> -->
        <th>Price</th>
        <!-- <th>date</th> -->
        <!-- <th>time</th> -->
        <!-- </tr> -->
        <!-- </th> -->
        <th>Update</th>
        <th>Delete</th>
        <th>Add Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" *ngFor="let c of companies">
        <td>
          <a routerLink="/show/{{ c.companyCode }}">{{ c.companyCode }}</a>
        </td>
        <td>{{ c.companyName }}</td>
        <td>{{ c.companyCEO }}</td>
        <td>{{ c.companyTurnover }} Rupees</td>
        <td>
          <a href="https://{{ c.companyWebsite }}">{{ c.companyWebsite }}</a>
        </td>
        <td>{{ c.stockExchangeName }}</td>
        <!-- <td> -->
        <!-- <tr *ngFor="let co of c.stocks"> -->
        <!-- <td>{{ co.id }}</td> -->
        <td>{{ c.stocks[0].stockPrice }} Rupees</td>
        <!-- <td>{{ co.date | date: "dd-MMM-yyyy" }}</td> -->
        <!-- <td>{{ co.date | date: "shortTime" }}</td> -->
        <!-- </tr> -->
        <!-- </td> -->
        <!-- <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="updateCompany(c.companyCode)"
          >
            Update
          </button>
        </td> -->
        <td>
          <button
            (click)="updateCompany(c.companyCode)"
            mat-flat-button
            color="primary"
          >
            Update
          </button>
        </td>
        <td>
          <button class="delete" (click)="deleteCompany(c.companyCode)">
            <i class="fa fa-trash iocn"></i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            (click)="AddStock(c.companyCode)"
          >
            Add Stock
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
